//====================================================================================================
.footer {
  background: #213C37;
  height: 100px;
  width: 100%;
  margin-top: rem(50);
  &__container {
  }
}

//====================================================================================================
