//====================================================================================================
.header {
min-height: rem(900);
background: url('@img/background/Group 40.png') right no-repeat, url('@img/background/Vector 1.png') right no-repeat ;

  &__container {
  }

  &__logo {
    margin-top: rem(20);
    font-family: 'Poppins';
    font-weight: 300;
    font-size: rem(36);
    line-height: math.div(54 , 36);/* identical to box height */
    text-transform: uppercase;
    color: $textColor;
  }

  &__distr {
  }
}
.distr-header {
  margin-top: rem(20);
  max-width: rem(500);
  background: #FFFFFF;
  box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
  border-radius: 40px;
  padding: rem(50) rem(40);
  &__title {
    font-size: rem(46);
    line-height: math.div(63 , 46);
  }

  &__text {
    margin-top: rem(30);  

  }
  &__btns{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

    margin-top: rem(60);
  }
  &__btn {
    // margin-right: rem(30);
  }
  &__img{

  }
}


//====================================================================================================

